<div class="media profile-media">
  <img class="b-r-10" *ngIf="image === null" src="assets/images/dashboard/profile.jpg" alt="">
  <img class="b-r-10" width="35" height="40" *ngIf="image !== null"  src="http://51.91.253.225:8080/api/v1/files/{{image}}" alt="">

  <div class="media-body"><span>{{name}}</span>
    <p class="mb-0 font-roboto">{{ role | translate }} <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <!-- <li><a href="#"><app-feather-icons [icon]="'mail'"></app-feather-icons><span>Inbox</span></a></li>
  <li><a href="#"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span>Taskboard</span></a></li> -->
  <li><a routerLink="/user/edit-profile"><app-feather-icons [icon]="'settings'"></app-feather-icons><span>Account</span></a></li>
  <li><a href="javascript:void(0)" (click)="logout()"><app-feather-icons [icon]="'log-in'"></app-feather-icons><span>Log out</span></a></li>
</ul>
